.filter_embedquestion-iframe {
    display: block;
    width: 100%;
    height: 250px;
    border: 0 none;
    background: transparent;
}

body#page-filter-embedquestion-showquestion {
    height: auto;
    overflow-y: hidden;
    background: transparent;
}
body#page-filter-embedquestion-showquestion #ou-site-body,
body#page-filter-embedquestion-showquestion #osep-pagewrapper,
body#page-filter-embedquestion-showquestion #page-content,
body#page-filter-embedquestion-showquestion #page {
    background: transparent;
}
body#page-filter-embedquestion-showquestion #region-main,
body#page-filter-embedquestion-showquestion #osep-mainwrapper {
    padding: 0;
}
body#page-filter-embedquestion-showquestion #osep-bottomclearer {
    display: none;
}

body#page-filter-embedquestion-showquestion .que {
    margin: 0;
    border-top: none;
    padding-top: 0;
}

/* This needs to work both inside and outside the iframe. */
.filter_embedquestion-error {
    background-color: #f0f0f1;
    padding: 5px 10px;
}

form#embedqform select {
    max-width: 100%;
}
